/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("imagenfondo4.jpg");
    height: 150px;
    color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #aaa;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 50px;
}

h1 {
    margin: 0;
    font-size: 45px;
    flex-grow: 5;
    text-align: center;
    color: #ecc206;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.7);
}

form {
    margin: 0;
}

/* Estilos del menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Hover para los elementos del menú */
nav ul li a:hover {
    background-color: #575757;
}

/* Submenú (Categorías) */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    padding: 10px 0;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Mostrar el submenú cuando se hace hover */
.menu-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Flecha hacia abajo */
.menu-item i {
    margin-left: 5px;
}

/* Estilos para el campo de búsqueda */
.search-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 7px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-bar button {
    padding: 7px 10px;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Estilos para las categorías */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.category-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.category-item:hover {
    transform: translateY(-5px);
}

.category-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}

.category-item:hover .category-icon {
    color: #007bff;
}
